[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
mysqlclient = "*"
uwsgi = "*"
django-cors-headers = "*"

[requires]
python_version = "3.8"
